.card{
  width: 295px;
  height: 402px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &_information{
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid var(--gray-fourth);
    background: white;
  }
  &.active{
    width: 380px;
    height: 480px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 1120px){
  .card{
    width: 226px;
    height: 348px;
    &.active{
      width: 226px;
      height: 348px;
    }
  }

}