.search {
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;

  &_input {
    padding: 10px;
    background: transparent;
    border: 2px solid white;
    position: relative;
    width: 400px;
    height: 45px;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    transition: border 0.5s ease;
    color:white;

    ::placeholder {
      color: white;
    }

    &:focus {
      border: 2px solid var(--main-color);

      + .search_icon {
        transform: translateX(295px);
        transition: transform 0.5s ease;
      }
    }

    &:hover {
      border: 2px solid var(--main-color);
    }
  }

  &_icon {
    left: 75px;
    bottom: 15%;
    cursor: pointer;
    position: absolute;
    transition: transform 0.5s ease;
  }
}
