.Heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 32px;

    padding-bottom: 32px;

    &.alignLeft {
        align-items: flex-start;
        text-align: left;
    }

    .title {
        margin: 0;
    }

    .headingLink {
        width: 210px;
        height: 2px;
        border-radius: 8px;
        background: #B3895E;
        margin-top: 16px;
    }

    .whiteText {
        color: white;
    }

    .blackText {
        color: var(--black-main-color);
    }
}