.breadcrumb{
  font-size: 18px;
  font-weight: 400;
}
li{
  list-style-type: none;
}

.navigation__item{
  cursor: pointer;
}

.navigation li:first-child{
  color: #828282;
}

.navigation{
  display: flex;
  gap: 16px;
}

.path{
  color: #262626;
}