.container{
  padding: 70px 100px 100px 100px;

  a{
    display: block;
  }
  .content{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
:global(.swiper-pagination-bullet) {
  background-color: #706f6f !important;
  border-radius: 0 !important;
}

:global(.swiper-pagination-bullet-active) {
  background-color: #D9B38C !important;
}
@media  screen  and (max-width: 1024px) {
  .container{
    padding: 50px 30px;
  }
  .contentTablet{
    height: 400px;

  }
  :global(.swiper-slide){
    width: 346px !important;
  }
  :global(.swiper){

  }



}