.container{
  padding: 70px 100px 100px 100px;

  a{
    display: block;
  }
  .content{
    display: flex;
    gap: 20px;
    justify-content: center;
    div{
      width: 400px !important;
    }
  }
}