.publicContainer {
  margin-bottom: 70px;

  hr {
    margin: 70px 0;
  }
  .heading {
    margin-left: 90px;
  }

  .buttonCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
