.container{
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  hr{
    margin: 70px 0 0 0;
    padding: 0;
    border: 2px var(--gray-third) solid;
    width: 100%;
  }

}
.BlockGeneral{
  display: flex;
  gap: 20px;
  &__Left{
    width: 100%;
  }
  &__Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px ;


  }
  &__description{
    width: 75%;
  }
  &__Typography{
    display: flex;
    gap: 17px;
    align-content: center;
    &_Icons{
      gap: 20px;

      display: flex;
      align-items: center;
    }

  }

}