.container {
  max-width: 1240px;
  overflow-x: hidden;
  margin: 0 auto;
}

.blockIndiProekt {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
    h2 {
      margin-bottom: 25px;
    }
  }
  &__lowerBlock {
    margin-bottom: 70px;
    display: flex;
    gap: 10px;
  }
}

.indiProektImg {
  flex: 1;
  min-width: 610px;
  max-width: 100%;
  min-height: 340px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.shortLine {
  width: 210px;
  border: 1px solid var(--main-color);
  margin-bottom: 24px;
  display: inline-block;
}

.wideLine {
  width: 100%;
  border: 1px solid var(--main-color);
  display: inline-block;
  margin-bottom: 70px;
}