.container{
  padding: 140px 100px 0;
  hr{
    border: 2px solid var(--gray-third);
    margin:70px 0 0;
    padding:0;
    width: 100%;
  }
}
.content{
  display: flex;
  img{
    width: 610px;
    height: 400px;
    object-fit: cover;
  }
  gap: 20px;
  &_des{
    width: 45%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    button{
      width: 350px;
    }
  }
}
@media screen and (max-width: 1024px){
  .container{
    padding: 100px 30px 0;
  }
  .content{
    img{
      width: 346px;
      height: 300px;
    }

  }

}
@media screen and (max-width: 480px){
  .container{
    padding: 80px 20px 40px;
  }
  .heading{
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 26;
  }
  .content{
    flex-direction: column;
    &_des{
      width: 100%;
    }
  }

}