// .header {
//    position: relative;
//    background-color: var(--black-main-color);
//    position: sticky;
//    top: 0;
//    z-index: 10;
//    transition: all 0.3s ease;
// }
// .BottomBar {
//    padding: 10px 10px 15px 10px;
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
// }
// .TopBar_Container {
//    display: flex;
//    justify-content: space-between;
//    margin-right: 125px;
//    align-items: center;
//    text-align: center;
//    position: relative;
// }
// .ContactInfo {
//    padding-top: 10px;
// }
// .languageSwitcher {
//    display: flex;
// }
// .right_bottom_bar {
//    display: flex;
//    align-items: center;
//    gap: 50px;
//    .customBrownButton {
//       width: 200px;
//       height: 40px;
//    }
// }

.header {
  //  position: relative;
   background-color: var(--black-main-color);
   position: sticky;
   top: 0;
   z-index: 10;
   transition: all 0.3s ease;
}
.BottomBar {
  padding: 30px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .logoAndContact{
    display: flex;
    align-items: center;
    gap: 30px;
   }
}
.TopBar_Container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   position: relative;
}
.ContactInfo {
   padding-top: 10px;
}
.languageSwitcher {
   display: flex;
}
.right_bottom_bar {
   display: flex;
   align-items: center;
   gap: 50px;
   .customBrownButton {
      width: 200px;
      height: 40px;
   }
}
