.galleryBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 32px;
}
.paginationCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}