
.filterContainer {
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 100px;
  background-color: var(--black-main-color);
  color: white;

  .dropdownLine {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
}

.dropdownLine {
  display: flex;
  flex-direction: row;

  .customDropdown {
    margin: 12px auto;
    min-width: 175px;
    width: 100%;
    height: 46px;
    background-color: #FFFFFF;
    border: 2px solid var(--black-main-color);
    cursor: pointer;
    color: #262626;
    gap: 2px;
  }
}

.dropdownHeader {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownList {
  position: absolute;
  width: 175px;
  background-color: #FFFFFF;
  color: #262626;
  border: 2px solid black;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--gray-first);
}

.arrow {
  margin-left: 10px;
}

.sliderContainer {
  display: flex;
  color: #FFFFFF;
  background-color: transparent;
  position: relative;
  margin-top: -12px;
  overflow: visible;

  .label {
    margin-right: 10px;
  }

  .inline {
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    input {
      border: none;
      padding: 0;
      height: 4px;
      -webkit-appearance: none;
      appearance: none;
    }

    .staticHandle {
      position: absolute;
      top: -12px;
      right: -14px;
      width: 15px;
      height: 28px;
      border: 1px solid var(--gray-fourth);
      background: var(--gray-fourth);
      pointer-events: none;
      filter: none;
    }

    .slider {
      //max-width: 510px;
      //width: 100%;
      -webkit-appearance: none;
      appearance: none;
      height: 4px;
      position: relative;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -12px;
        width: 16px;
        height: 28px;
        border: 1px solid var(--main-color);
        background: var(--main-color);
        cursor: pointer;
        position: absolute;
        z-index: 6;
        //transition: left 0.1s ease-in-out;
        left: calc(var(--progress) + var(--thumb-offset));
      }

      &::-webkit-slider-runnable-track {
        height: 4px;
        background: var(--gray-second);
      }

      &::-webkit-slider-runnable-track {
        background: linear-gradient(to right, var(--main-color) 0%,
                var(--main-color) var(--progress),
                var(--gray-second) var(--progress), var(--gray-second) 100%);
        height: 4px;
      }
  }
  }

  .scale {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    margin-top: 35px;
    margin-bottom: 12px;
    color: #FFFFFF;

    .scaleValue {
      font-style: normal;
      position: relative;

      &:before {
        margin-top: 2px;
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        width: 2px !important;
        height: 5px;
        background: #FFFFFF;
      }
    }
  }
}

.react_select{
  display: none;
}

@media screen and (max-width: 1100px) {
  .filterContainer {
    flex-direction: column;
    padding: 9px 65px;
    gap: 18px;

    .dropdownLine {
      display: flex;
      max-width: 636px !important;
      width: 100%;
      gap: 24px;
    }
  }

  .customDropdown {
    margin: 0;
    width: 100%;
    max-width: 310px !important;
    height: 46px;
    z-index: 12;
  }

  .sliderContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 97px;
    margin-bottom: 18px !important;

    .inline {
      width: 100%;
      max-width: 510px !important;
      input {
        width: 510px !important;
      }

      .staticHandle {
        top: -10px;
        right: -18px;
      }

    }

  }
  .scale {
    margin-top: 40px !important;
  }

  .react_select {
    display: block;
    width: 310px;
  }
}

@media screen and (max-width: 920px) {
  .sliderContainer {
    .inline {
      display: flex;
      gap: 20px;
      .staticHandle {
        top: 13px;
        right: -18px;
      }
    }
  }
  .scale {
    margin-top: 50px !important;
  }
}


@media screen and (max-width: 650px) {
  .sliderContainer {
    max-width: 335px !important;
    width: 100%;
    .inline {
      width: 100%;
      max-width: 335px;
      input {
        max-width: 335px !important;
        width: 100%;
      }
      .staticHandle {
        top: 13px;
        right: -18px;
      }
    }
  }
  .scale {
    margin-top: 50px !important;
  }
}

@media screen and (max-width: 520px) {
  .inline {
    max-width: 265px !important;
    width: 100%;
    input {
      max-width: 265px !important;
      width: 100%;
    }
    //.staticHandle {
    //  top: 13px;
    //  right: -18px;
    //}
  }
  .scale {
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (max-width: 430px) {
  .filterContainer {
    padding: 10px 20px;
    gap: 16px;

      .dropdownLine {
        //max-width: 335px !important;
        width: 100%;
        gap: 20px;
        .customDropdown {
          max-width: 157px !important;
          width: 100%;
        }
      }
  }

  .sliderContainer {
    display: flex;
    flex-direction: column;
    .inline {
      //max-width: 280px !important;
      width: 100%;
    }
    .slider {
      max-width: 280px !important;
      width: 100%;
    }
  }

  .scale {
    font-size: 12px;
    margin-top: 25px;
  }

  //.react_select {
  //  max-width: 100%;
  //}
}

