.filterContainer {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 100px;
  background-color: black;
  color: white;
  justify-content: space-between;
  .dropdownLine {
    display: flex;
    flex-direction: row;
  }
}

.customDropdown {
  margin: 12px auto;
  width: 175px;
  height: 46px;
  background-color: #FFFFFF;
  border: 2px solid black;
  cursor: pointer;
  color: #262626;
  gap: 2px;
}

.dropdownHeader {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownList {
  position: absolute;
  width: 175px;
  background-color: #FFFFFF;
  color: #262626;
  border: 2px solid black;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--gray-first);
}

.arrow {
  margin-left: 10px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: transparent;

  input {
    border: none;
    padding: 0;
    height: 4px;
  }

  .label {
    margin-right: 10px;
  }

  .inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 510px;
    position: relative;
  }

  .slider {
    -webkit-appearance: none;
    width: 510px;
    height: 4px;
    background: #D9D9D9;
    outline: none;
    position: relative;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 14px;
      height: 27px;
      background: #B3895E;
      cursor: pointer;
      z-index: 2;
    }
  }

  .scale {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 14px;
    color: #ffffff;
    font-size: 12px;

    .scaleValue {
      font-size: 12px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        //transform: translateX(-50%);
        width: 2px;
        height: 5px;
        background: #ffffff; // Цвет делений
      }
    }

    .scaleValue:last-child {
      &:after {
        content: 'м²';
        margin-left: 4px;
      }
    }
  }
}

//.sliderContainer {
//  .label {
//    content: "Площадь:";
//  }

  //.scale {
  //  .scale-value:nth-child(1)::before { content: "0"; }
  //  .scale-value:nth-child(2)::before { content: "100"; }
  //  .scale-value:nth-child(3)::before { content: "200"; }
  //  .scale-value:nth-child(4)::before { content: "300"; }
  //  .scale-value:nth-child(5)::before { content: "400"; }
  //  .scale-value:nth-child(6)::before { content: "500"; }
  //  .scale-value:nth-child(7)::before { content: "600"; }
  //  .scale-value:nth-child(8)::before { content: "700"; }
  //  .scale-value:nth-child(9)::before { content: "800"; }
  //  .scale-value:nth-child(10)::before { content: "900"; }
  //  .scale-value:last-child::after { content: "м²"; }
  //}
//}
