.OurTeam{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.container{
  padding: 70px 100px 140px;
}


@media screen and (max-width: 1025px){
  .container{
    padding: 70px 30px 70px;
  }
  .OurTeam{
    gap: 15px;
  }

}