.links {
  margin-bottom: 45px;
  margin-left: 1px;
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
  }

  a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--main-color);
    }
  }
}
