.custom_block {
  background-color: #262626;
  padding: 30px 90px 70px;

  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 93%;
    &.noImage {
      flex-direction: column;
      text-align: center;
    }
    .imageContainer {
      width: 100%;
      max-width: 610px;
      height: 511px;
      .custom_image {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 80% !important;
      height: 100%;
      margin-left: 20px;
      &.noImageText {
        margin: 0 auto;
        flex-direction: row;
      }

      .text {
        width: 98%;
        margin: 25px 0;

        &.noImageTextHead{
          width: 700px;
          text-align: start;
        }
      }

      .buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: auto;

  button {
    width: 100%;
    padding: 10px;
    background-color: #B3895E;
    color: white;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #262626;
    }
  }
}

    }
  }
}
