.back__container {
   position: fixed;
   right: 20px;
   bottom: 40px;
   z-index: 999;
   transition: opacity 0.3s ease;
   opacity: 1;

   &.hidden {
      opacity: 0;
      pointer-events: none;
   }
}

.back__content {
   display: flex;
   flex-direction: column;
   gap: 20px;

   a {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover .icon {
         opacity: 0.7;
      }
   }

   .back__whatsapp {
      background-color: rgba(96, 214, 105, 1);
      width: 60px;
      height: 60px;
      border-radius: 50%;
   }

   .back__button {
      width: 60px;
      height: 60px;
      border: none;
      background-color: rgba(179, 137, 94, 1);
      color: inherit;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &:hover {
         background-color: rgb(185, 159, 134);
      }
   }
}

// @media screen and (max-width: 770px) {
//    .back__container {
//       right: 10px !important;
//    }
//    .back__button {
//       display: none !important;
//    }
//    .back__content {
//       a {
//          width: 50px;
//          height: 50px;
//       }
//    }
// }
