.container{
  padding: 20px 0 0 0 ;
  background: var(--black-main-color);
}
.content{
  padding: 0 50px;
  &_buttons{
    margin: 0 95px;
    width: 100%;
    display: flex;
    button{
      width: 620px;
    }
  }
  &_information{
    padding: 0 10px;
  }
  &_hr{
    padding: 0 90px;
    width: 100%;

    hr{
      margin: 0;
      padding: 0;
      border: 2px var(--gray-third) solid;
      width: 100% ;
    }
  }

}


@media screen and (max-width: 1366px){
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1440px){
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_buttons{
      margin: 0 0 0 100px;
    }
  }
}

@media screen and (max-width: 820px){

  .content{
    padding: 0 30px;
    &_buttons{
      margin: 0;
      button{
        width: 354px;
      }
    }
  }

}