.blogContainer {
   padding: 32px 100px 0px 100px;

   .startBlock {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .leftBlock {
         margin-top: 32px;

         .pageTitleAndDescription {
            display: flex;
            flex-direction: column;
         }
      }
   }

   .divider {
      height: 2px;
      background-color: rgba(181, 180, 180, 1);
      margin: 70px 0;
      width: 100%;
      max-width: 100%;
   }

   .heading {
      margin-bottom: 0px !important;
   }
}
