.Information {
  padding: 140px 100px 0 ;
  @media screen and (max-width: 480px){
    padding: 80px 20px 0 !important ;

  }

  &_Content {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 480px){
      flex-direction: column;
    }
  }

  &_Left {
    height: 100%;
    width: 50%;
    @media screen and (max-width: 480px){
      order: 1;
      width: 100% !important;
    }

    &Information {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-bottom: 25px;
    }
  }

  &_Right {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  hr {
    border: 2px var(--gray-third) solid;
    margin-top: 70px;
  }
}

@media screen and (max-width: 830px){
  .Information{
    padding: 100px 30px 0;
    &_Right{
      width: 100%;
      height: 100%;
      img{
        width: 350px;
        height: 400px;
        object-fit: cover;
      }
    }
    &_Left {
      height: 30%;
      width: 80%;

      &Information {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 25px;

        margin-bottom: 25px;

      }
      &Description{
        height: 15rem;
        overflow: auto;
      }
    }
  }

}