.footer {
  background-color: var(--black-main-color);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


}

.container {
  padding: 20px 100px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  gap: 200px  ;
  margin: 0 auto;
}
