
.filterContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  overflow-x: auto;
  background-color: var(--black-main-color);
  padding: 20px 100px;
  margin-bottom: 40px;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2px;
  }

  .filterItem {
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;

    &:hover {
      color: var(--hover-effect);
    }

    &.active {
      color: var(--main-color);
    }
  }
}

@media screen and (max-width: 770px) {
  .filterContainer {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    gap: 46px;

    .filterItem {
      flex-shrink: 0;
      font-size: 16px;
      line-height: 25.6px;
    }
  }
}

@media screen and (max-width: 430px) {
  .filterContainer {
    padding: 6px 20px;
    gap: 30px;

    .filterItem {
      flex-shrink: 0;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
