
.filterColor {
  background-color: var(--black-main-color);
}
.filterContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  padding: 20px 0 20px;
  margin-bottom: 40px;

  .filterItem {
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;

    &:hover {
      color: var(--hover-effect);
    }

    &.active {
      color: var(--main-color);
    }
  }
}

