.buttonContainer {
   display: flex;
   flex-wrap: wrap;
   max-width: 630px;
   gap: 8px;
}

.filterButton {
   padding: 5.5px 10px;
   border: none;
   border-radius: 5px;
   background: consectetur;
   cursor: pointer;
   transition:
      background 0.3s,
      color 0.3s;
   display: flex;
   align-items: center;
}

.filterButton:hover {
   color: rgba(179, 137, 94, 1);
}

.active {
   background: rgba(217, 179, 140, 1);
}

.closeIcon {
   margin-left: 10px;
   cursor: pointer;
   font-weight: bold;
}
