.container{
  background: var(--black-main-color);
  padding: 70px 100px 100px;
  @media screen and (max-width: 480px){
    padding: 30px 20px 10px !important;
  }
    hr{
      margin: 0;
      padding: 0;
      border: 2px var(--gray-third) solid;
      width: 100%;

  }
}
.HowWork{
    padding: 70px 0 0 0;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    &_des{
      width: 78%;
    }
  }
}

@media screen and (max-width: 1250px) {
  .container{
    padding: 50px 30px 20px;
  }
  .HowWork{
    padding: 32px 0 0 0;
    @media screen and (max-width: 480px){
      padding: 30px 0 0 0;

    }
    &__content{
      &_des{
        width: 100%;
      }
    }
  }

}